{% extends '../base.html' %}

{% block title %}
  My Shopping Cart
{% endblock title %}

{% block body %}
  {% if items %}
    <ul>
      {% for parent_item in items %}
        <li>{{ parent_item }}</li>
        <ul>
          {% for child_item in parent_item.children.all %}
            <li>{{ child_item }}</li>
          {% endfor %}
        </ul>
      {% endfor %}
    </ul>
    <p><strong>Total: ${{ total }}</strong></p>

    <form action="{% url 'order' %}" method="POST">
      {% csrf_token %}
      <button class="btn btn-primary">Place order</button>
    </form>
  {% else %}
    <em>No items in cart yet.</em>
  {% endif %}
{% endblock body %}
