{% extends '../base.html' %}

{% block title %}
  Orders
{% endblock title %}

{% block body %}
  <div class="card d-inline-block mr-3 mb-4" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Regular Pizza</h5>
      <p class="card-text">Order a regular pizza.</p>
      <a href="#" class="btn btn-primary">Get one</a>
    </div>
  </div>

  <div class="card d-inline-block mr-3 mb-4" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Sicilian Pizza</h5>
      <p class="card-text">Order a sicilian pizza.</p>
      <a href="#" class="btn btn-primary">Get one</a>
    </div>
  </div>

  <div class="card d-inline-block mr-3 mb-4" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Subs</h5>
      <p class="card-text">Order a sub.</p>
      <a href="#" class="btn btn-primary">Get one</a>
    </div>
  </div>

  <div class="card d-inline-block mr-3 mb-4" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Pasta</h5>
      <p class="card-text">Order a pasta.</p>
      <a href="#" class="btn btn-primary">Get one</a>
    </div>
  </div>

  <div class="card d-inline-block mr-3 mb-4" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Salad</h5>
      <p class="card-text">Order a salad.</p>
      <a href="#" class="btn btn-primary">Get one</a>
    </div>
  </div>

  <div class="card d-inline-block mr-3 mb-4" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Dinner Platter</h5>
      <p class="card-text">Order a dinner platter.</p>
      <a href="#" class="btn btn-primary">Get one</a>
    </div>
  </div>
{% endblock body %}
