{% extends '../base.html' %}

{% block title %}
  Orders
{% endblock title %}

{% block body %}

  <!-- Regular Pizza -->
  <h2 class="h4 mt-3">Regular Pizza</h2>
  <hr>
  {% for p in regular_pizzas %}
    <div class="card d-inline-block mr-3 mb-4" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">{{ p.name }}</h5>
        <p class="card-text">
          Small: ${{ p.small_price }}
          <br>
          Large: ${{ p.large_price }}
        </p>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#rp-{{ p.name|slugify }}-modal">Get one...</button>
      </div>

      <div class="modal fade" id="rp-{{ p.name|slugify }}-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">{{ p.name }}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form action="">
                {% csrf_token %}

                <div class="form-group">
                  <label>Size</label>
                  <select name="size" class="form-control">
                    <option value="small">Small - ${{ p.small_price }}</option>
                    <option value="large">Large - ${{ p.large_price }}</option>
                  </select>
                </div>

                {% if p.topping_size is not 0 %}
                  <div class="form-group">
                    <label>Toppings</label>
                    <select class="selectpicker form-control" multiple data-max-options="{{ p.topping_size }}">
                      {% for t in toppings %}
                        <option value="{{ t.name }}">{{ t.name }}</option>
                      {% endfor %}
                    </select>
                  </div>
                {% endif %}

                <button class="btn btn-primary">Add to cart</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}


  <!-- Sicilian Pizza -->
  <h2 class="h4 mt-3">Sicilian Pizza</h2>
  <hr>
  {% for p in sicilian_pizzas %}
    <div class="card d-inline-block mr-3 mb-4" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">{{ p.name }}</h5>
        <p class="card-text">
          Small: ${{ p.small_price }}
          <br>
          Large: ${{ p.large_price }}
        </p>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#rp-{{ p.name|slugify }}-modal">Get one...</button>
      </div>

      <div class="modal fade" id="rp-{{ p.name|slugify }}-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">{{ p.name }}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form action="">
                {% csrf_token %}

                <div class="form-group">
                  <label>Size</label>
                  <select name="size" class="form-control">
                    <option value="small">Small - ${{ p.small_price }}</option>
                    <option value="large">Large - ${{ p.large_price }}</option>
                  </select>
                </div>

                {% if p.item_size is not 0 %}
                  <div class="form-group">
                    <label>Items</label>
                    <select class="selectpicker form-control" multiple data-max-options="{{ p.item_size }}">
                      {% for t in toppings %}
                        <option value="{{ t.name }}">{{ t.name }}</option>
                      {% endfor %}
                    </select>
                  </div>
                {% endif %}

                <button class="btn btn-primary">Add to cart</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock body %}
