{% extends 'layout.html' %}

{% block title %}
  {{ channelname }}
{% endblock title %}

{% block body %}
  <h2 class="h5">Messages</h2>

  <ul>
    {% for message in messages %}
      <li>
        <p>{{ message['text'] }}</p>
        <span><small>{{ message['sender'] }} | {{ message['timestamp'] }}</small></span>
      </li>
    {% endfor %}
  </ul>

  {% if not messages %}
    <p><em>No message in this channel yet.</em></p>
  {% endif %}

  <form class="form-inline mb-4" action="{{ url_for('channels_show', channelname=channelname) }}" method="POST">
    <label class="sr-only" for="channel-name">Your message</label>
    <input type="text" class="form-control mb-2 mr-sm-2 w-75" id="channel-name" name="channelname" placeholder="Your message" />
    <button type="submit" class="btn btn-primary mb-2">Submit</button>
  </form>
{% endblock body %}
