{% extends 'layout.html' %}

{% block title %}
  Channels
{% endblock title %}

{% block body %}
  <h2 class="h5">Create your channel</h2>
  <form class="form-inline mb-4" action="/channels" method="POST">
    <label class="sr-only" for="channel-name">Channel name</label>
    <input type="text" class="form-control mb-2 mr-sm-2" id="channel-name" name="channelname" placeholder="Your channel" />
    <button type="submit" class="btn btn-primary mb-2">Submit</button>
  </form>

  <h2 class="h5">Channel list</h2>
  <ul>
    {% for channelname in channels %}
      <li>
        <a href="#">
          {{ channelname }}
        </a>
      </li>
    {% endfor %}
  </ul>
{% endblock body %}
